
<div class="container portfolio">

    <div class="row">

        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img1.png" alt="poster" />
                <figcaption>Abstract Poster</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img2.png" alt="portrait" />
                <figcaption>Stylized Portrait</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img3.png" alt="skull poster" />
                <figcaption>Skull Poster</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img4.png" alt="logo" />
                <figcaption>Logo For Flower And Fift Shop</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img5.png" alt="poster" />
                <figcaption>Poster For Rehab-Center</figcaption>
            </figure>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <figure>
                <img class="img-responsive" src="img/img6.png" alt="pattern" />
                <figcaption>Abstract Pattern</figcaption>
            </figure>
        </div>

    </div>

</div>


 